.sidebar-navigation .logo {
  position: absolute;
  width: 100%;
  height: 140px;
  line-height: 100px;
  background-color: #fa8474;
  padding: 20px;
  text-align: center;
}

.intro_text { 
  margin: auto; 
  width: 50%; 
  border: 3px solid #689899; 
  padding: 10px; 
} 

.section-heading em {
  font-style: normal;
  font-weight: 700;
  color: #689899;
}